<article class="clearfix">
    <h2>THE VALUE OF MONEY</h2>
    <figure class="float">
        <img src="./img/savemoney.jpg" alt="THE VALUE OF MONEY">
        <figcaption>Why do we save money?</figcaption>
    </figure>
    <p class="article-float">"BEWARE OF LITTLE EXPENSES; A SMALL LEAK WILL SINK A GREAT SHIP" - BENJAMIN FRANKLIN
    <br>It is very important to save money and I'm going to state 3 very important reasosn to do so..
    <br>1. SAVE FOR AN EMERGENCY: This could be any number of things: a new roof for your house, out-of-pocket medical expenses, or sudden loss of income. You will need money set aside for these emergencies to avoid going into debt to pay for your necessities. An emergency fund is arguably the most important reason to save money. Emergency funds are truly a lifeline! It takes perseverance, as does saving for anything, to build up a fund. It also takes discipline to only use for true emergencies.
    <br>2. AVERAGE LIFE EXPECTANCY – With more advances in medicine and public health, people are now living longer and needing more money to get by.
    <br>3. VOLATILITY OF SOCIAL SECURITY – Social Security was never intended to be the primary source of income and should be treated as a supplement to income.
    <br> There are many more reasons which could be stated to save money, but as of now I'd suggest these three for saving a large amount of money!s</p>
</article>
<hr>

<article class="clearfix">
    <h2>THE VIEW OF WORLD 2100</h2>
    <figure class="float">
        <img src="./img/5d.jpg" alt="5D world">
        <figcaption>5D World</figcaption>
    </figure>
    <p class="article-float">With advanced technology also comes advanced dangers, especially biological warfare, nuclear proliferation, and global warming. Science is a double-edged sword. One side can cut against poverty, disease, and ignorance; but the other side can also cut against the people unless it is properly controlled. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit pulvinar purus, nec pellentesque risus sollicitudin sed. Vestibulum ultricies sagittis efficitur. Fusce euismod arcu vel commodo laoreet. Ut vestibulum commodo diam, eu blandit orci imperdiet ut. Sed sed arcu tortor. Donec lectus nulla, commodo quis volutpat non, interdum quis nisi. Nulla euismod velit nunc, in fringilla urna imperdiet eget. Nunc dapibus blandit lacus, eget vestibulum ex imperdiet et. Aliquam pulvinar placerat est.
    <br>Maecenas vel interdum orci, ac consectetur mi. Pellentesque at mauris eu elit ullamcorper tincidunt. Suspendisse eget congue sapien, non scelerisque felis. Etiam faucibus quam leo, consectetur rhoncus metus mattis ut. Phasellus justo eros, molestie in nisi a, mollis tempor ligula. Cras non dapibus libero. Curabitur luctus viverra justo faucibus auctor. Duis justo ligula, viverra vitae varius id, pharetra a justo. Aenean ornare nisi quis justo dapibus venenatis. Vestibulum mauris velit, fermentum vitae erat eu, lacinia rhoncus risus. Donec et eros ac ex molestie ultrices. Nunc pulvinar diam et lorem cursus, non maximus nisl ultrices. Phasellus bibendum lobortis nulla et consequat. Vivamus bibendum augue eu est maximus efficitur. Sed vel tincidunt nibh, et accumsan tortor.
    <br>Etiam consectetur leo sit amet quam hendrerit, vitae lobortis risus ultrices. Morbi eleifend sodales elit quis vestibulum. Ut congue cursus dui vitae dictum. Nunc ac molestie massa.</p>
</article>
<hr>

<article class="clearfix">
    <h2>WHAT IS GMO FOOD?</h2>
    <figure class="float">
        <img src="./img/gmo.jpg" alt="gmo">
        <figcaption>Organic Vegetables</figcaption>
    </figure>
    <p class="article-float">A GMO, or genetically modified organism, is a plant, animal, microorganism or other organism whose genetic makeup has been modified in a laboratory using genetic engineering or transgenic technology. This creates combinations of plant, animal, bacterial and virus genes that do not occur in nature or through traditional crossbreeding methods.
    <br>Genetic modification affects many of the products we consume on a daily basis. As the number of GMOs available for commercial use grows every year, the Non-GMO Project works diligently to provide the most accurate, up-to-date standards for non-GMO verification.
    <br>Though there are only several GM crops that are widely available, they are commodity crops that often get further processed into a variety of  ingredients. These high-risk ingredients are typically present in packaged products as: Amino acids, alcohol, aspartame, ascorbic acid, sodium ascorbate, citric acid, sodium citrate, ethanol, flavorings (“natural” and “artificial”), high-fructose corn syrup, hydrolyzed vegetable protein, lactic acid, maltodextrins, molasses, monosodium glutamate (MSG), sucrose, textured vegetable protein (TVP), xanthan gum, vitamins, vinegar, yeast products
    <br> <a href="https://www.nongmoproject.org/gmo-facts/what-is-gmo/" target="_blank"></a></p>
</article>
<hr>

