<div class="portfolio">
    <figure class="portfoliobox">
        <img src="./img/money3.jpg" alt="money">
        <figcaption class="text-centered">MONEYLIFE</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/newworld.jpg" alt="world">
        <figcaption class="text-centered">5D WORLD</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/gmo-foods3.jpg" alt="GMO">
        <figcaption class="text-centered">GMO FOODS</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/strange.jpg" alt="2100">
        <figcaption class="text-centered">FUTURE - 2100</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/coins.jpg" alt="money">
        <figcaption class="text-centered">SAVINGS</figcaption>
    </figure>

    <figure class="portfoliobox">
        <img src="./img/tomatoes.jpg" alt="vegetables">
        <figcaption>CHEMICAL FOOD</figcaption>
    </figure>
</div>
<hr>
